= simple_form_for(@order, defaults: { input_html: { class: 'span4' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address, input_html: { rows: 6 }
    = f.input :email
    = f.association :payment_type, prompt: t('.payment_prompt_html')

  .form-actions
    = f.button :submit, t('.submit')
