%h1= t('.title')
%table
  = render(cart.line_items)
  %tr.total_line
    %td(colspan=2) Total
    %td.total_cell= number_to_currency(cart.total_price)
    %td

%p
  = link_to new_order_path, class: 'btn btn-primary' do
    %i.icon-shopping-cart.icon-white
    = t('.checkout')

  = link_to t('.empty'), cart, method: :delete, confirm: 'Are you sure?', remote: true, class: 'btn btn-danger'
