<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Pragprog Books Online Store' %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><%= @page_title || 'Pragmatic Bookshelf' %></a>
        <ul class="nav">
          <li><%= link_to 'Store', root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>Products
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'List all products', products_path %></li>
              <li><%= link_to 'New product', new_product_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div id="main" role="main">
    <div class="container">
      <div class="row">
        <div class="span12">
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= content_tag :div, msg, id: "flash_#{ name }" if msg.is_a?(String) %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
